@import './variables';

.company-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.company-modal {
  z-index: 30;
}

.company-view {
  display: flex;
  //justify-content: space-between;
}
