@import './variables';

.score-icon {
  aspect-ratio: 1;
  //width: 2rem;
  //height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-icon.a {
  background: $primary-gradient;
}
.score-icon.b {
  background: $secondary-gradient;
}
.score-icon.c {
  background: $grade-color-c;
}
.score-icon.d {
  background: $grade-color-d;
}
.score-icon.f {
  background: $grade-color-f;
}

.score-modal {
  z-index: 1100 !important;
}

.score-view {
  padding: 1rem;
}

.score-cascade {
  //margin: 1rem;
  width: 100%;
}

.main-score-cascade-view {
  width: 100%;
}

.sub-score-cascade {
  margin-right: 1rem;
  display: none;
}

.sub-score-cascade.expanded {
  display: block;
}

.score-cascade-view {
  width: 100%;
  padding-block: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1px;
  justify-content: space-between;
  //height: 2rem;
}

.score-cascade-view.selected {
  background: $primary-gradient;
}


.score-cascade-expand-button {
  right: 2rem;
  border: none;
}

.score-cascade-expand-icon {
}
